	
	<div class="row">
	<%= link_to invitaciones_path do %>
	  	<div class="col-xs-3 col-xs-offset-2 col-sm-3 col-xs-offset-2" style= "background-image: url(<%= asset_path 'PortadaInvitaciones.png' %>) ; background-position: center center; height: 80vh; background-repeat: no-repeat;" >
	  		<%= image_tag "invitaciones.png", width: 300, alt: "Invitaciones" %>
	  	</div>
	<% end %>
	<%= link_to fotografia_path do %>
	  	<div class="col-xs-3 col-xs-offset-2 col-sm-3 col-xs-offset-2" style= "background-image: url(<%= asset_path 'PortadaFotografia.png' %>) ; background-position: center center; height: 80vh; background-repeat: no-repeat;" >
	  		<%= image_tag "fotografia.png", width: 300, alt: "Invitaciones" %>
	  	</div>
	<% end %>
	</div>

<!-- <div class="center jumbotron">

  <h1>Viva Invitaciones</h1>

  <h2>
    Nos especializamos en invitaciones para toda ocasión. 
  </h2>

  < %= link_to "Regístrate ahora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
-->

<!--
< %= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            -->

